:root {
            --border-color: #ddd;
            --button-search-font: #3c4043;
            --button-search-background: #f8f9fa;
            --footer-background: #f2f2f2;
            --footer-font: #70757a;
            --footer-font-hover: #3c4043;
            --footer-font-active: #ea4335;
            }
            
            body{
                -moz-appearance: none;
                font-family: arial, sans-serif;
            }
            .header-row{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-size: 14px;
                

            }

            li{
                display: inline-block;
                list-style-type: none;
            }

            img{
                margin: 0 auto;
                display: block;
            }

            input{
                margin-top: 5%;
                border: 0.1px solid var(--border-color);
                border-radius: 30px;
                }
            fieldset{
                border: none;
            }

            a{
                text-decoration: none;
                color: var(--footer-font);
            }
            a:hover{
                text-decoration: underline;
            }

            #searchform{
                display: grid;
                grid-template-rows: 3fr 1fr;
                gap:2%;
                
            }

            #search{
               grid-area: buttonsearch;
               padding: 3%;
           }
           #lucky{
            grid-area: buttonlucky;
            padding: 3%;
           }
            #buttons{
                display: grid;
                grid-template-columns: 35% auto 5% auto 35%;
                grid-template-areas:
                ". buttonsearch . buttonlucky ."; 
            }

            #searchform input{
                height: 30%;
                min-width: max-content;
                padding-left: 10%;
                padding-right: 10%;
                display: block;
                margin: auto auto;
            }

            #rightlinks{
                color: var(--footer-font);
                font-size: 14px;
             
            }

            #leftlinks{
                 color: var(--footer-font);
                 font-size: 14px;
                
            }

            .footercontainer {

                 display: flex;
                flex-direction: row;
                font-size: 14px;
                flex-wrap: nowrap;
                position: absolute;
                bottom: 0;
                
                }

              .footercontainer  li{
                  padding: 5%;
              }
              .header-row a{
                  color: var(--button-search-font);
              }


              [type="text"]::placeholder{
                  text-align: center;
              }

              button{
                  border: none;
                
              }